{% macro render_field(field) %}
    <div class="info">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}



{{render_field(form.name)}}
{{render_field(form.surname)}}
{{render_field(form.age)}}
{{render_field(form.email)}}
{{render_field(form.about)}}
{{render_field(form.course)}}