{% extends "base.html" %}

{% block title %}
    Categories
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
        <a class="navbar-brand text-light text-uppercase" href="#">Kitab mağazası</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{{ url_for('home') }}">Ana səhifə <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ url_for('about') }}">Haqqımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ url_for('categories') }}">Kateqoriyalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ url_for('product') }}">Ayın kitabı</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        İstifadəçi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% if current_user.is_authenticated %}
                            <p class="dropdown-item">{{ current_user.first_name }}</p>
                            <a class="dropdown-item" href="{{ url_for('logout') }}" type="a">Log out</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('login') }}" type="a">Log in</a>
                            <a class="dropdown-item" href="{{ url_for('register') }}" type="a">Register</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>This is Categories page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cumque harum alias sapiente! Quidem possimus laboriosam non voluptates nisi accusamus in et, nemo molestiae mollitia. Nostrum porro voluptates deleniti vero.
A eligendi expedita ullam perspiciatis cum? Nostrum numquam culpa, necessitatibus fuga, incidunt voluptatem dignissimos aliquam molestias tempora voluptatum laborum doloribus odit rerum? Cumque, reiciendis. Magnam suscipit ipsum impedit cum? Quos!
Aliquid quibusdam suscipit omnis molestiae necessitatibus consectetur nesciunt nisi commodi velit dolores consequuntur laborum laudantium sit nihil inventore, sunt possimus voluptatum minus id cumque, debitis aliquam et quasi ea. Laudantium?
Nisi, perferendis! Optio aperiam ad incidunt eligendi beatae eos sint explicabo mollitia, nostrum voluptatibus suscipit obcaecati quae hic, reprehenderit cupiditate fugiat sequi animi blanditiis nulla id quam earum! Assumenda, fugit!
Debitis ut quis, nam a accusamus reprehenderit et qui. Ullam reprehenderit beatae architecto inventore corrupti, optio velit. Quisquam, dolores quas! Blanditiis pariatur velit ipsam doloremque consequuntur dignissimos nesciunt, iusto eaque!</p>
{% endblock %}

{% block js %}
{% endblock %}
